include:
  - path: ./docker-compose.main.yml
  - path: ./docker-compose.hpb.yml

networks:
  nextcloud:
    name: nextcloud
    ipam:
      config:
        - subnet:  172.19.0.0/24
          gateway: 172.19.0.1