services:

  # Signal server
  # https://hub.docker.com/r/strukturag/nextcloud-spreed-signaling
  nextcloud-signaling:
    image: strukturag/nextcloud-spreed-signaling
    container_name: nextcloud-signaling
    hostname:       nextcloud-signaling
    environment:
      HTTPS_LISTEN: 0.0.0.0:8443
      HTTPS_CERTIFICATE: /etc/ssl/signaling/crt/server.crt
      HTTPS_KEY:         /etc/ssl/signaling/key/server.key

      HASH_KEY:  $TOKEN
      BLOCK_KEY: $TOKEN
      INTERNAL_SHARED_SECRET_KEY: $TOKEN
      
      BACKENDS: "1"
      BACKEND_1_URL: https://192.168.0.106:443
      BACKEND_1_SHARED_SECRET: $TOKEN

      USE_JANUS: 1
      JANUS_URL: ws://192.168.0.106:8188
      
      TURN_API_KEY: $TOKEN
      TURN_SECRET:  $TOKEN
      TURN_SERVERS: 192.168.0.106:3478

      SKIP_VERIFY: true

    volumes:
      - type: bind
        source: ./ssl
        target:  /etc/ssl/signaling
        read_only: true

    networks: 
      nextcloud:
        ipv4_address: 172.19.0.6
    ports:    ['8443:8443']
    extra_hosts:
      - "host.docker.internal:host-gateway"
    depends_on: ['nextcloud-janus', 'nextcloud-turn']
    restart: unless-stopped

  # Janus
  # https://hub.docker.com/r/sucwangsr/janus-webrtc-gateway-docker
  nextcloud-janus:
    image: sucwangsr/janus-webrtc-gateway-docker
    container_name: nextcloud-janus
    hostname:       nextcloud-janus
    command: ["/usr/local/bin/janus", "-F", "/usr/local/etc/janus"]
    configs:
      - source: nextcloud-janus
        target: /usr/local/etc/janus/janus.jcfg
    network_mode: host
    #networks: 
    #  nextcloud:
    #    ipv4_address: 172.19.0.7
    restart: unless-stopped

  # Turn
  # https://hub.docker.com/r/coturn/coturn
  nextcloud-turn:
    image: coturn/coturn:4.7.0-alpine
    container_name: nextcloud-turn
    hostname:       nextcloud-turn
    configs:
      - source: nextcloud-turn
        target: /etc/coturn/turnserver.conf
    networks: 
      nextcloud:
        ipv4_address: 172.19.0.8
    ports:
      - "3478:3478/udp"
      - "3478:3478/tcp"
    restart: unless-stopped

configs:
  nextcloud-janus:
    content: |
      general: {
        configs_folder = "@confdir@"
        #plugins_folder = "@plugindir@"
        #transports_folder = "@transportdir@"
        #events_folder = "@eventdir@"
        #loggers_folder = "@loggerdir@"
        #log_to_stdout = false
        #log_to_file = "/path/to/janus.log"
        #log_rotate_sig = "SIGUSR1"
        debug_level = 4
        #debug_timestamps = true
        #debug_colors = false
        #debug_locks = true
        #log_prefix = "[janus] "
        #daemonize = true
        #pid_file = "/path/to/janus.pid"
        #api_secret = "janusrocks"
        #token_auth = true
        #token_auth_secret = "janus"
        admin_secret = "janusoverlord"
        #interface = "1.2.3.4"
        #server_name = "MyJanusInstance"
        #session_timeout = 60
        #candidates_timeout = 45
        #reclaim_session_timeout = 0
        #recordings_tmp_ext = "tmp"
        #event_loops = 8
        #allow_loop_indication = true
        #task_pool_size = 100
        #opaqueid_in_api = true
        #hide_dependencies = true
        #exit_on_dl_error = false
        #no_webrtc_encryption = true
        protected_folders = [
          "/bin",
          "/boot",
          "/dev",
          "/etc",
          "/initrd",
          "/lib",
          "/lib32",
          "/lib64",
          "/proc",
          "/sbin",
          "/sys",
          "/usr",
          "/var",
          "/opt/janus/bin",
          "/opt/janus/etc",
          "/opt/janus/include",
          "/opt/janus/lib",
          "/opt/janus/lib32",
          "/opt/janus/lib64",
          "/opt/janus/sbin"
        ]
      }

      certificates: {
        #cert_pem = "/path/to/certificate.pem"
        #cert_key = "/path/to/key.pem"
        #cert_pwd = "secretpassphrase"
        #dtls_accept_selfsigned = false
        #dtls_ciphers = "your-desired-openssl-ciphers"
        #rsa_private_key = false
      }

      media: {
        #ipv6 = true
        #ipv6_linklocal = true
        #min_nack_queue = 500
        #rtp_port_range = "20000-40000"
        #dtls_mtu = 1200
        #no_media_timer = 1
        #slowlink_threshold = 4
        #twcc_period = 100
        #dtls_timeout = 500
        #nack_optimizations = true
        #dscp = 46
      }

      nat: {
        #stun_server = "nextcloud-turn"
        #stun_port = 3478
        #nice_debug = "nice_debug option is NOT SUPPORTED ANYMORE! Please set NICE_DEBUG and G_MESSAGES_DEBUG env vars when starting Janus"
        full_trickle = true # changed from default
        #ice_nomination = "regular"
        #ice_consent_freshness = true
        #ice_keepalive_conncheck = true
        #ice_lite = true
        #ice_tcp = true
        #hangup_on_failed = true
        #ignore_mdns = true
        #nat_1_1_mapping = "192.168.0.106"
        #keep_private_host = true
        #turn_server = "nextcloud-turn"
        #turn_port = 3478
        #turn_type = "udp"
        #turn_user = "myuser"
        #turn_pwd = "mypassword"
        #turn_rest_api = "http://yourbackend.com/path/to/api"
        #turn_rest_api_key = "${TOKEN}" # changed from default
        #turn_rest_api_method = "GET"
        #turn_rest_api_timeout = 10
        #allow_force_relay = true
        #ice_enforce_list = "eth0"
        ice_ignore_list = "vmnet"
        #ignore_unreachable_ice_server = true
      }

      plugins: {
        #disable = "libjanus_echotest.so,libjanus_recordplay.so"
      }

      transports: {
        #disable = "libjanus_rabbitmq.so"
      }

      loggers: {
        #disable = "libjanus_jsonlog.so"
      }

      events: {
        #broadcast = true
        #combine_media_stats = true
        #disable = "libjanus_sampleevh.so"
        #stats_period = 5
      }

  nextcloud-turn:
    content: |
      listening-port=3478
      fingerprint
      use-auth-secret
      static-auth-secret=${TOKEN}
      realm=nextcloud-signaling
      total-quota=100
      bps-capacity=0
      stale-nonce
      no-multicast-peers
      external-ip=192.168.0.106
      #relay-ip=192.168.0.106
  
